body{
  background-image: url('./img/balldog.jpg'); 
  background-size:cover; 
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}

.transbox{
  margin: 55px;
  padding:20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  margin-top: 20px;
  margin-bottom: 20px;
}